{% extends 'base.html' %}

{% block title %}
<title>Post Edit</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="" method="POST" class="row g-3">
                    <h4>Edit this post</h4>
                    {{ form.hidden_tag() }}
                    {{ form.title }}
                    {{ form.content(cols="30", rows="15") }}
                    <div class="col-12">
                        <button type="submit" name = "post_submit" class="btn btn-dark float-end">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}