body{
    background: white;
    height:100vh; 
}
.nav-color{
    background-color: #243655 !important;
}
.welcome_text{
text-transform: capitalize;
}
.welcome-intro{
    padding: 0px 35px 0px 35px;
}
p {
    margin: 0
}
.container {
    margin: 20px auto;
}

.box {
    background-color: #e1f5fe;
    padding: 30px;
    border-radius: 10px
}

.row {
    background-color: #FFFF;
    border: 1px solid #ddd;
    border-radius: 10px
}

.viewbox {
    margin-left: 0px;
    padding: 10px 20px
}

.blue {
    color: #2196F3;
    font-size: 30px
}

.card {
    margin: 20px 0;
    padding: 20px 30px
}

.mx1 {
    margin: 0 1px
}

.p-green {
    background-color: #34df1d
}

.progress {
    height: 12px;
    position: relative;
    overflow: visible
}

.h-dash {
    font-size: 25px
}

.textmuted {
    color: #7a7a7a;
    font-size: 14px
}

.fas {
    font-size: 20px;
    color: #636363;
    padding-right: 20px
}

.box2 {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px
}

/* .icon1 {
    font-size: 10px;
    position: absolute;
    background-color: #FFFF;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    right: 0;
    top: -10px
}

.icon2 {
    font-size: 10px;
    position: absolute;
    background-color: #FFFF;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 50%;
    top: -10px
} */

.far.fa-star {
    font-size: 10px;
    padding: 10px
}

.fas.fa-check {
    font-size: 10px;
    padding: 10px;
    color: #237518
}
.ps-2{
    padding:0 !important;
}
img {
    border-radius: 50%;
    border-style: solid;
    border-color: black;
}
.prof-image{
    display:flex;
    justify-content: center;
}
.thumbnail {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }
@media (max-width:400px) {
    img{
        max-width: 100%;
    }
    
}