body{
    height: 200vh;
    background: linear-gradient(#141E30 0%, #243B55 100%); 
}
.article{
    padding:20px;
    box-shadow: 1px 1px 1px 1px black;
    background: white;
    border-radius: 5px;
}
.article{
    height:100vh;
}
.thumbnail{
    border-style: solid;
    color: rgba(0, 0, 0, 0.144);
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:5px;
}
.profile_link{
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    color: rgb(87, 86, 86);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.bar{
    height:1px;
    width:75px;
    margin: 5px 0px 5px 0px;
    background-color: black;
}
.center{
    display:flex;
    justify-content: center;
}
.expanded_title{
    text-transform: capitalize;
    font-size:2rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.posted_images{
    margin:20px 0px 24px 0px;
}
.top-iconbar{
    display: flex;
    justify-content: space-between;
}
.posting_date{
    color:rgba(0, 0, 0, 0.788);
    font-weight: 700;
}
.views{
    color: rgba(114, 112, 112, 0.89);
}