body{
    max-height: auto;
    min-height: 100vh;
    width: auto;
    background: linear-gradient(#141E30 0%, #243B55 100%);
}
.nav-color{
    background-color: #243655 !important;
}
.liked{
    color:blue;
}
.disliked{
    color:red;
}
.wrapper{
    width:100%;
    margin-bottom: 5px;
}
.wrappings{
    width:100%;
}
.comment_dropdown{
    float:right;
}
.tess{
    width: 100% !important;
}
.dropdown-menu.show{
    display:flex !important;
    flex-direction: column !important;
}
.article{
    padding:20px;
    max-width:auto;
    height:auto;
    box-shadow: 1px 1px 1px 1px black;
    background: white;
    border-radius: 5px;
}
.thumbnail{
    border-style: solid;
    color: rgba(0, 0, 0, 0.144);
    width:42px;
    height:42px;
    border-radius: 50%;
}
.profile_link{
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    color: rgb(87, 86, 86);
    font-size: 1.1rem;
    font-weight: 500;
    /* margin-bottom: 10px; */
}
.bar{
    height:1px;
    width:75px;
    margin: 5px 0px 5px 0px;
    background-color: black;
}
.center{
    display:flex;
    justify-content: center;
}
.expanded_title{
    text-transform: capitalize;
    font-size:2rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.posted_images{
    margin:20px 0px 24px 0px;
}
.top-iconbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.posting_date{
    color:rgba(0, 0, 0, 0.788);
    font-weight: 700;
}
.comment_submit_button{
    text-transform: capitalize;
    margin:5px 0px 5px 0px;
}
.views{
    color: rgba(114, 112, 112, 0.89);
}
.comments_title{
    margin: 25px 0px 10px 0px;
    font-size:1.2rem;
    font-weight: bolder;
}
.fa-thumbs-up{
    margin: 15px 0px 15px 0px !important;
    cursor: pointer;
}
.fa-thumbs-up:hover{
    font-size:3rem;
}
/* .fa-thumbs-down{
    margin: 0px 0px 0px 15px !important;
    cursor: pointer;
} */
.comment_box{
    width: 100%;
}
.comment_thumbnail{
    border-style: solid;
    color: rgba(0, 0, 0, 0.144);
    min-width:40px;
    max-width: 40px;
    max-height:40px;
    min-height:40px;
    border-radius: 50%;
    margin-right:5px;
}
.spec-thumbnail{
    border-style: solid;
    color: rgba(0, 0, 0, 0.144);
    width:45px;
    height:45px;
    border-radius: 50%;
    margin-right:5px;
}

.fa-hotjar{
    color:orangered;
    margin-left:5px;
}
.comment_date{
    color:rgb(109, 109, 109);
    /* margin-left:5px; */
    font-size: .7rem;
    margin-bottom:2px;
    font-weight:bold;
}
.commenter_username{
    text-transform: capitalize;
    font-weight: bolder;
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.post_wrapper{
    display: flex;
    align-items: center;
}
.submit{
    justify-content: flex-end;
}
.user_date_bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.space{
    width: 100%;
}
.prof-button{
    margin-right: 5px;
}
.commentor_name_link{
    color:black;
    text-decoration: none;
}
@media (min-width:989px){
    .article {
        max-width: 750px;
    }
}