body{
    background-repeat: no-repeat !important;
    min-height: 100vh;
    max-height: auto;
    /* background: linear-gradient(#373B44 0%, #4286f4 100%); */
    background: linear-gradient(#141E30 0%, #243B55 100%); 
}
.ccc{
    color:white;
}
.error_text{
    color:red;
}
.recommend_title_link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}
.random_boardgame_title{
    text-decoration: none;
    font-style: italic;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}
.recommended_title{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.199)
}
.content-section{
    padding-top:5px;
}
.coloring{
    color:White;
}
.recommend_profile_name{
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(43, 43, 43);
    font-size: 1.1rem;
    font-weight:495;
    font-style: italic;
}
.recommended_article_section{
    font-size: 1rem;
    color:gray;
}
.dots{
    color:white;
    position: relative;
    top:25%;
}
.recommended_profiles{
    display:flex;
    margin-bottom: 5px;
    align-items: center;
}
.recommendations{
    background: #ffffff;
    color:black;
    margin:50px 0px 50px 0px;
    border-radius: 5px;
    padding:10px;
}
.category_container{
    color:black;
    margin:50px 0px 50px 0px;
    background-color: white;
    border-radius: 5px;
    padding:10px;
}
.category_title{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.199)
}
.smoll{
    color:white;
}
.category_links{
    text-transform: none;
    text-decoration: none;
    color:rgb(49, 49, 49);
    background-color: wheat;
    border-radius: 2px;
}
.nav-color{
    background-color: #243655 !important;
}
.password_reset_title{
    text-align: center;
    font-weight: bolder;
    font-size:2rem;
    padding-bottom: 30px;
}
.fa-fire{
    color:orangered;
}
.post_views{
    color:gray;
    margin-left: 10px;
    font-weight: 400;
}
.lok{
    display:flex;
    justify-content: space-between;
    width: 40%;
}
.bar{
    height:1px;
    width:75px;
    margin: 5px 0px 5px 0px;
    background-color: black;
}
.log{
    padding:8px !important;
}
.date_view_column{
    display:flex;
    flex-direction: column;
}
.post_container{
    color:rgb(14, 8, 8);
    padding: 20px;
    align-items: center !important;
    max-width: 550px;
}
.posting_date_show{
    display: flex;
    text-transform: capitalize;
    justify-items: right !important;
    align-items: center !important;
}
.hottest_link{
    font-style: italic;
    font-size: 1.1rem;
    font-weight:600;
    color:rgba(0, 0, 0, 0.788);
    text-decoration: none;
}
.posting_date{
    color:rgba(0, 0, 0, 0.788);
    font-weight: 700;
    display:flex;
    align-items: center;
}
.recommend_links{
    color:rgb(160, 159, 159);
    text-transform: capitalize;
    text-decoration: none;
    font-weight:600
}
.prof_link{
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    color: rgb(87, 86, 86);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.title{
    text-transform: capitalize;
    font-size:2rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.posted_images{
    margin:12px 0px 24px 0px;
}
.content{
    width: 100%;
    font-size:1rem !important;
}
.container1{
    display: flex;
    justify-content: center;
}
.prof-button{
    margin-right: 5px !important;
}
.content{
    margin: 10px 0px 10px 0px;
}
.wrap{
    display:flex;
    width:50%;
    margin:10px;
}
.right-bar{
    text-transform: capitalize;
}
.flex {
    display:flex;
    justify-content: space-evenly;
}
.sidebar_text{
    color:rgba(207, 207, 207, 0.911);
    margin-top:10px;
}
.posting{
    margin:10px;
    box-shadow: 2px 1px 10px 2px rgb(48, 47, 47);
    border-radius: 5px;
    background:white;
}
.check{
    width: 100%;
}
.spank{ /*test*/
    width: 20%;
}
.thumbnail {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }
.testm{
    height: 100%;
    display:flex;
    flex-direction: row;
}
#anything{
    font-weight: bolder;
}
.invisible{
    display: none;
}
.fa-exclamation{
    cursor: pointer;
    padding-top:6px;
    color:red;
}
.prof_header{
    margin-bottom: 5px;
}
.fa-check-circle{
    color:rgb(0, 110, 74);
    margin-left: 5px;
}
.fa-user-check{
    color:rgb(0, 110, 74);
}
.prof_thumbnail{
    border-style: solid;
    color: rgba(0, 0, 0, 0.144);
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:5px;
}
.sidebar_header{
    font-weight: bold;
    color:black;
}
@media (max-width:976px){
    .wrap{
        width:100%;
    }
    .container{
        padding:0;
    }
}
@media (max-width:770px){
    .flex{
        flex-wrap: wrap;
    }
    .lok{
        width:100%;
    }
    .content-section{
        margin:0px;
    }
    .sidesection{
        order: 1;
    }
    .wrap{
        order:2;
    }
}
@media (max-width:500px){
    .flex{
        flex-wrap: wrap;
    }
}
@media (max-width:400px){
    .sidesection{
        margin:20px;
    }
    .wrap{
        width:100%;
        margin: 0;
    }
    .content{
        font-size:.6rem;
    }
    .container{
        padding:0;
    }
    .contain{
        margin:10px;
    }
    .sidesection{
        order: 1;
    }
    .wrap{
        order:2;
    }
}

