body{
    background: linear-gradient(#141E30 0%, #243B55 100%);
    background-repeat: no-repeat !important;
    height: 100vh;
}
.nav-color{
    background-color: #243655 !important;
}
.welcome_text {
    text-transform: capitalize;
}
.control-label{
    font-weight: bold;
}
.checkbox{
    padding:5px;
}
label {
    text-transform: capitalize;
}
.account{
    color:rgb(20, 20, 20);
}
.links{
    padding:0 !important;
}
.form-group.required{
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox{
    padding:10px 0px 10px 0px;
}
.form-check{
    padding:0;
}