body{
    background: linear-gradient(#141E30 0%, #243B55 100%); 
    background-repeat: no-repeat !important;
    max-height: auto;
    min-height: 100vh;
}
.sign-up-btn{
    padding:12 6px;
    margin-top:10px !important;
}
.control-label{
    font-weight: bold;
}
.nav-color{
    background-color: #243655 !important;
}
.alt-signup{
text-align: center;
}
@media (max-width:400px){
    .signup_box{
        position: relative !important;
        transform: translateX(-50%) !important;
    }
}