{% extends 'base.html' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                    <h4>Confirm your New Password</h4>
                    {{ form.hidden_tag()}}
                    {{ form.password(placeholder = "Password")}}
                    {{ form.confirm_password(placeholder = "Confirm Password")}}
                    <div class = "error_text">
                    {% for errors in form.password.errors %}
                        {{errors}}
                    {% endfor %}
                    </div>
                    <div class="col-12">
                        <button type="submit" name = "post_submit" class="btn btn-dark float-end">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}