{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = './css/dashboard.css') }}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-color">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">What's New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('post') }}">Post</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="btn btn-outline-light" href = "{{ url_for('logout') }}">Logout</a>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}

{% block body %}
<div class = "container">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}

      {% if category == "success"%}
      <div class="alert alert-success alert-dismissible fade show">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endif%}

      {% if category == "prof_description"%}
      <div class="alert alert-success alert-dismissible fade show container">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endif %}

      {% if category == "prof_photo"%}
      <div class="alert alert-success alert-dismissible fade show container">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endif %}

      {% if category == "no_file"%}
      <div class="alert alert-danger alert-dismissible fade show container">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endif %}

      {% if category == "no_name"%}
      <div class="alert alert-danger alert-dismissible fade show container">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endif %}

      {% if category == "no_post"%}
      <div class="alert alert-danger alert-dismissible fade show container">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endif %}

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>

<div class = "container welcome-intro">
  {% if profimage == None or '' %}
  <div class="container thumbnail">
    <img src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
  </div>
  {% else %}
  <div class="container thumbnail">
    <img src="{{url_for ('static', filename ='/images/' + profimage) }}" alt="Image" />
  </div>
  {% endif %}
    <h1 class = "welcome_text">Hello {{ name }},</h1>
    <span>
      {% if last_logged == None %}
        <h1>This is your first Login!</h1>
      {% else %}
        <h1>Your last login date was {{last_logged}}</h1>
      {% endif %}
    </span>
</div>
<!-- personal dashboard need to make public one -->
<div class="container">
  <div class="box">
      <p class="h-dash">Your Dashboard</p>
      {% if description != None %}
      <p class="fst-italic textmuted mt-3 mb-3">{{description}}</p>
      {% else %}
      <p class="fst-italic textmuted mt-3 mb-3">Add a description about yourself</p>
      {% endif %}
      <div class="row mx-0 mt-2">
          <div class="col-md-4 p-0 border-end">
              <div class="viewbox">
                  <p class="blue">{{views}}</p>
                  <p><i class="fas fa-user-circle"></i>Profile views</p>
              </div>
          </div>
          <div class="col-md-4 p-0 border-end">
              <div class="viewbox">
                  <p class="blue">100</p>
                  <p><i class="fas fa-users">
                    <a href="">Followers</a>
                  </i></p>
              </div>
          </div>
          <div class="col-md-4 p-0">
              <div class="viewbox">
                  <p class="blue">{{total_post}}</p>
                  <p><i class="fas fa-icons"></i>Total Posts</p>
              </div>
          </div>
      </div>
      <div>
          <div class="box2 mt-3">
              <div class="d-flex mt-2 "> <span class="fas fa-users-cog mt-1"></span>
                  <div class="w-100 border-bottom">
                      <a href="{{url_for('upload_profile')}}"><p class="">Update your Profile Picture and Description</p></a>
                      <p class="textmuted mb-2"> Add or update your profile picture and description.</p>
                  </div>
              </div>
              <div class="d-flex mt-2"> <span class="fas fa-money-bill-alt mt-1"></span>
                  <div class="w-100 border-bottom">
                      <a href="{{url_for('all_post', username = username)}}"><p class="">See all of your own Post</p></a>
                      <p class="textmuted mb-2"> View all of your own posts.</p>
                  </div>
              </div>
              <div class="d-flex mt-2"> <span class="fas fa-bookmark ms-0 mt-1"></span>
                  <div class="w-100 ps-2">
                      <a href=""><p class="">Delete your profile</p></a>
                      <p class="textmuted mb-2">Erase your account and post(s) permanently.</p>
                      {% for followers in current_user.follows %}
                      {{followers.username}}
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}