{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = './css/expanded_post.css') }}">
{% endblock %}

{% block body %}
<!-- <div class="row d-flex justify-content-center">
  <div class = "col-md-8 col-lg-6 fun">
  </div>
</div> -->

</div>

<div class = "container article">
  <div class = "top-iconbar">
    <a href="{{url_for('public_user_dashboard', poster = expanded_post.poster.username) }}" class = "profile_link">
      <img class = "thumbnail" src="{{ url_for('static', filename='/images/' + expanded_post.poster.profimage)}}" alt="">
      -{{expanded_post.posting_user}}
    </a>
    <div class = "posting_date">{{expanded_post.date_posted}} <div class = "views">Views: {{expanded_post.article_views}}</div></div>
  </div>
  <img class = "posted_images img-fluid" src="{{url_for('static', filename='/images/' + expanded_post.image) }}" alt="Image" />
  <div class = "expanded_title">{{ expanded_post.title}}</div>
  <div class = "bar"></div>
  <div>{{ expanded_post.content }}</div>
  <div>Comments</div>
</div>
{% endblock %}

