{% extends 'base.html' %}

{% block body%}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    {% if category == "edit"%}
    <div class="alert alert-info alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "false_user"%}
    <div class="alert alert-danger alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "no_post"%}
    <div class="alert alert-danger alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "success"%}
    <div class="alert alert-success alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    </ul>
  {% endfor %}
  {% endif %}
{% endwith %}

<div class = "container">
  <div class = "flex">
    <div class = "d-flex flex-column wrap">
    {% for post in posts.items %}
    <div class = "post_container posting">
      {% if post.poster.profimage == None %}
      <div class = "d-flex justify-content-between">
        <a href="{{url_for('public_user_dashboard', poster = post.poster.username )}}" class= "prof_link"><img class = "tree" src="{{url_for('static', filename='/images/default.jpg') }}" alt="">
          -{{post.posting_user}}
        </a>
        {% if post.poster.username != current_user.username%}
          {%if anonymous_check != True %}
            {% if post.poster is in current_user.following%}
            <div>
              <div><i class="fas fa-check-circle" id = "check" title = "Following"></i><a class = "fas fa-check-circle"></a></div>
            </div>
            {% endif %}
          {%endif%}
        {% endif %}
      </div>
      {% else %}
    <div class = "d-flex justify-content-between">
      <a href="{{url_for('public_user_dashboard', poster = post.poster.username )}}" class= "prof_link"><img class = "tree" src="{{url_for('static', filename='/images/' + post.poster.profimage) }}" alt="">
        -{{post.posting_user}}
      </a>
      {%if post.poster.username != current_user.username %}
        {%if anonymous_check != True %}
          {% if post.poster is in current_user.following%}
          <div>
            <div><i class="fas fa-check-circle" id = "check" title = "Following"></i><a class = "fas fa-check-circle"></a></div>
          </div>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
      {% endif %}
      {%if post.image != None or '' or [] %}
      <img class = "posted_images img-fluid" src="{{url_for('static', filename='/images/' + post.image) }}" alt="Image" />
      {% endif %}
    <div class = "title">{{ post.title }} </div>
    <div class = "bar"></div>
    <div class = "content">{{ post.content| truncate(500) }}</div>
    <i tabindex="0" class="fa fa-fire" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Report" data-bs-content="If this post is breaking Rules, send a report."></i>
    <div>
      {% if current_user.username == post.posting_user %}
      <div class = "posting_date_show justify-content-between">
        <div>
        <a class = "btn btn-dark btn-sm" href="{{ url_for('expanded_post', postID = post.id) }}">View</a>
        <a class = "btn btn-primary btn-sm" href="{{ url_for('edit', postID = post.id) }}">Edit</a> 
        <a class = "btn btn-danger btn-sm" onclick= "return confirm('Are you sure you want to delete this post?');" href="{{ url_for('delete', postID = post.id) }}">Delete</a>
        </div>
          <div class = "posting_date">
            <div class = "date_view_column">
              <div>{{post.date_posted}}</div>
              <div class = "post_views">Views: {{post.article_views}}</div>
            </div>
          </div>
      </div>
      {% else %}
      <div class = "posting_date justify-content-between">
        <div><a class = "btn btn-dark btn-sm" href="{{ url_for('expanded_post', postID = post.id) }}">View</a></div>
          <div class = "date_view_column">
            <div>{{post.date_posted}}</div>
            <div class = "post_views">Views: {{post.article_views}}</div>
          </div>
      </div>
      {% endif %}
    </div>
    </div>
    {% endfor %}
    <div class = "container contain">
      {% for page_number in posts.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
        {% if page_number %}
          {% if posts.page == page_number%}
            <a class = "btn btn-light page_number" href="{{ url_for('index', page=page_number)}}">{{page_number}}</a>
          {% else %}
            <a class = "btn btn-outline-light page_number" href="{{ url_for('index', page=page_number)}}">{{page_number}}</a>
          {% endif %}
        {% else %}
        <span class = "dots">...</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>

    <div class = "lok">
      <div class="sidesection">
        <div class="content-section ">
        <!-- <h3 class = "sidebar_text">Sidebar</h3> -->
        <p class='text-muted'>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><span class = "sidebar_header">Today's Date:</span>{{ current_date }}</li>
            <li class="list-group-item list-group-item-light"><span class = "sidebar_header">Announcements:</span> This site is still a work in progress and will always continue updating to be better </li>

            {% if posts.items == [] %}
            <li class="list-group-item list-group-item-light right-bar"><span class = "sidebar_header">Latest Post:</span></li>
            {% else %}
            <li class="list-group-item list-group-item-light right-bar"><span class = "sidebar_header">Latest Post:</span><a class = "random_boardgame_title" href="{{url_for('expanded_post', postID = posts.items[0].id)}}"> {{ posts.items[0].title}}</a></li>
            {% endif %}

            {% if newest_user == [] %}
            <li class="list-group-item list-group-item-light right-bar"><span class = "sidebar_header">Newest Users:</span></li> 
            {% else %}
            <li class="list-group-item list-group-item-light right-bar"><span class = "sidebar_header">Newest Users:</span> {{newest_user[0].username}}</li>
            {% endif %}

            <li class="list-group-item list-group-item-light right-bar">
              <i class="fas fa-fire"></i><span class = "sidebar_header"> Hotest article:</span>
              <span>
                <a class = "hottest_link" href="{{url_for('expanded_post', postID = hottest_post_id.id)}}">{{hottest_post_id.title}}</a>
              </span> by {{hottest_post_id.posting_user}}
             </li>
          </ul>
        </p>
        </div>
          <div class = "category_container">
            <h3 class = "category_title">Categories</h3>
            <ol class = "breadcrumb">
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'adventure' )}}" title = "a player plays as a unique individual character (or a party of such characters) that improves through gameplay">Adventure</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Rpg' )}}">Rpg</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'co-op' )}}">Co-op</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Fantasy' )}}">Fantasy</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Area-control' )}}">Area-control</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Strategy' )}}">Strategy</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Deck-Builder' )}}">Deck-Builder</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Card-Game' )}}">Card-game</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Horror' )}}">Horror</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Fighting' )}}">Fighting</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'Other' )}}">Other</a></li>
              <li class = "breadcrumb-item category"><a class = "category_links" href="{{url_for('categories', category = 'off-topic' )}}" id = "anything">Off-topic</a></li>
            </ol>
          </div>

          <div class = "recommendations">
            <h3 class = "recommended_title">Daily Recommendations</h3>
            {% for highlight in random_users_list %}
            <div class = "recommended_profiles">
                {% if highlight.poster.profimage == None or '' or [] %}
                <div>
                  <a href="{{url_for('public_user_dashboard', poster = highlight.poster.username )}}" class= "recommend_links">
                    <img class = "tree" src="{{url_for('static', filename='/images/default.jpg') }}" alt="">
                  </a>
                </div>
                <div>
                  <div><a class = "recommend_profile_name" href="{{url_for('public_user_dashboard', poster = highlight.poster.username )}}">{{highlight.poster.username}}</a></div> 
                  <span class = "recommended_article_section">Top Viewed Article: <a class = "recommend_title_link" href="{{url_for('expanded_post', postID = highlight.id)}}">{{highlight.title}}</a></span>
                </div>
            </div>
              {% else %}
              <div>
                <a href="{{url_for('public_user_dashboard', poster = highlight.poster.username )}}" class= "recommend_links">
                  <img class = "tree" src="{{url_for('static', filename='/images/' + highlight.poster.profimage) }}" alt="">
                </a>
              </div>
                <div>
                  <div><a class = "recommend_profile_name" href="{{url_for('public_user_dashboard', poster = highlight.poster.username )}}">{{highlight.poster.username}}</a></div>
                  <span class = "recommended_article_section">Top viewed Article: <a class = "recommend_title_link" href="{{url_for('expanded_post', postID = highlight.id)}}">{{highlight.title}}</a></span>
                </div>
            </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
      </div>
    </div>
</div> 

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="report()">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>


{% endblock %}

{%block js%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script>

 var button = document.getElementById('following')
 var check = document.getElementById('check')
 
 function getUserID(ID){
  return followUnfollow(ID)
 }

//  button.addEventListener('click', ()=>{
//   followUnfollow(getUserID)
// });

function followUnfollow(ID){
 if(button.classList.contains('follow')){
    button.classList.remove('btn', 'btn-dark', 'btn-sm','follow')
    button.classList.add('btn', 'btn-secondary', 'btn-sm','following')
    button.innerText = "Following"
    button.appendChild(check)
    check.classList.add('fas','fa-check-circle')
    follow(ID)
   }
  else if(button.classList.contains('following')){
    button.classList.remove('btn', 'btn-secondary', 'btn-sm','following')
    button.classList.add('btn', 'btn-dark', 'btn-sm','follow')
    button.innerText = "Follow"
    check.classList.remove('fas', 'fa-check-circle')
    unfollow(ID)
  }
};
function unfollow(ID) {  //sends to python route for dislikes without updating
    const url = `/unfollow/${ID}`;
  fetch(url, {
    method: 'POST',
  }).then((response) => {
    var unfollow =response.json
    var following = document.getElementById('following')
 });
}
function follow(ID) {  //sends to python route for dislikes without updating
    const url = `/follow/${ID}`;
  fetch(url, {
    method: 'POST',
  }).then((response) => {
 });
}

function report() {  //sends to python route for dislikes without updating
    const url = `/report/`;
  fetch(url, {
    method: 'POST',
  }).then((response) => {
    console.log(body)
 });
}
</script>
{%endblock%}