{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- style sheet -->
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'login.css') }}">
{% endblock %}

{% block title %}
<title>Login Page</title>
{% endblock %}

{% block body %}
<!-- bootstrap container and position to keep things in the middle, also handles flash flask login alerts -->
<div class = "container position-absolute top-50 start-50 translate-middle">
    <div class = "container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    {% if category == "login_error"%}
      <div class="alert alert-danger alert-dismissible fade show">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endif %}

    {% if category == "success"%}
    <div class="alert alert-success alert-dismissible fade show">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif%}

    {% if category == "logout"%}
    <div class="alert alert-warning alert-dismissible fade show">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif%}

    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </div>

    <div class="container">
      <div class="row">
          <div class="col-md-4 offset-md-4">
              <div class="login-form bg-light mt-4 p-4">
                  <form action="" method="POST" class="row g-3">
                      <h4>Login</h4>
                      {{form.csrf_token}}
                      <div class="col-12">
                          {{ wtf.form_field(form.username) }}
                      </div>
                      <div class="col-12">
                        {{ wtf.form_field(form.password) }}
                      </div>
                      <div class="col-12">
                          <div class="form-check">
                            {{ wtf.form_field(form.remember_me) }}
                          </div>
                      </div>
                      <div class="col-12">
                          <button type="submit" class="btn btn-dark float-end">Login</button>
                      </div>
                  </form>
                  <hr class="mt-4">
                  <div class="col-12">
                      <p class="text-center mb-0">Have not account yet? <a href="{{url_for('signup')}}">Signup</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}