{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                    <div class = "password_reset_title">Password Reset</div>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.email) }}
                    <!-- {% for errors in form.errors.email %}
                    <div class = "errors">{{errors}}</div>
                    {% endfor %} -->
                    <div class="col-12">
                        <button type="submit" name = "post_submit" class="btn btn-dark float-end form-check">Request</button>
                    </div>
                    <hr class="mt-4">
                    <div class="col-12">
                        <p class="text-center mb-0">Don't have an account yet?
                          <a href="{{url_for('signup')}}">Signup</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

{% endblock%}
