{% extends 'base.html' %}

{% block title %}
<title>Post</title>
{% endblock %}

<div class = "container">
    {% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    {% if category == "email_username"%}
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endif %}

{% if category == "posted"%}
<div class="alert alert-warning alert-dismissible fade show container">
    <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif%}
</div>

{% endfor %}
</ul>
{% endif %}
{% endwith %} 

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                    <h4>Add a Post</h4>
                    {{ form.hidden_tag()}}
                    {{ form.title(placeholder = "Title") }}
                    {{ form.content(cols="30", rows="15", placeholder = "Write your review here") }}
                    {{ form.file }}
                    <div>
                        <select name="genre" id="">
                            <option value="Adventure">Aventure</option>
                            <option value="Rpg">Rpg</option>
                            <option value="Co-op">Co-op</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Area-control">Area-control</option>
                            <option value="Deck-Builder">Deck-Builder</option>
                            <option value="Strategy">Strategy</option>
                            <option value="Strategy">Card-Game</option>
                            <option value="Strategy">Horror</option>
                            <option value="Strategy">Fighting</option>
                            <option value="Strategy">Other</option>
                        </select>
                        Categories
                    </div>
                    <div class="col-12">
                        <button type="submit" name = "file" class="btn btn-dark float-end">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
