{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = './css/public_dashboard.css') }}">
{% endblock %}

{% block nav %}
{%if current_user.is_anonymous == True%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-color">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{{url_for('index')}}">BoredGame Blogs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="nav-item">
        <a class="btn btn-primary" href = "{{ url_for('login') }}">Login</a>
        <a class="btn btn-outline-light" href = "{{ url_for('signup') }}">Register Here</a>
      </form>
    </div>
  </div>
</nav>
{%else%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-color">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('post') }}">Post</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="btn btn-outline-info prof-button" href = "{{ url_for('dashboard') }}">Profile</a>
          <a class="btn btn-outline-light" href = "{{ url_for('logout') }}">Logout</a>
        </form>
      </div>
    </div>
  </nav>
{%endif%}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    {% if category == "edit"%}
    <div class="alert alert-info alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "false_user"%}
    <div class="alert alert-danger alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "no_post"%}
    <div class="alert alert-danger alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "success"%}
    <div class="alert alert-success alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    </ul>
  {% endfor %}
  {% endif %}
{% endwith %}

<div class = "container welcome-intro">
  {% if user.profimage == None%}
    <div class="container thumbnail">
      <img src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
    </div>
  {% else %}
    <div class="container thumbnail">
      <img src="{{url_for ('static', filename ='/images/' + user.profimage) }}" alt="Image" />
    </div>
  {% endif %}
      <h1 class = "welcome_text">{{ user.username }}<span class = "s_dash">'s</span> Profile</h1>
      <div class = "follow_button">
        {% if current_user.is_anonymous == False %}
          {% if current_user is in user.followers %}
          <div class= "btn btn-secondary btn-sm following" id = "following" onclick="getUserID('{{user.id}}')">Following <i class="fas fa-check-circle" id = "check"></i></div>
          {% else %}
          <div class= "btn btn-dark btn-sm follow" id = "following" onclick="getUserID('{{user.id}}')">Follow <i id = "check"></i></div>
          {% endif %}
        {% endif %}
      </div>
  </div>

<div class = "container">
    <div class="box">
        <!-- <p class="h-dash">Dashboard</p> -->
        <div class="row mx-0 mt-2">
            <div class="col-md-4 p-0 border-end">
                <div class="viewbox">
                    <p class="blue">{{user.profile_views}}</p>
                    <p><i class="fas fa-user-circle"></i>Profile views</p>
                </div>
            </div>
            <div class="col-md-4 p-0 border-end">
                <div class="viewbox">
                    <p class="blue">{{user_followers}}</p>
                    <p><i class="fas fa-users"></i><a class="" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Followers</a></p>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="viewbox">
                    <p class="blue">{{user.total_post}}</p>
                    <p><i class="fas fa-icons"></i><a href="{{url_for('all_post', username = user.username)}}">Total Posts</a></p>
                </div>
            </div>
        </div>


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-user-edit"></i><strong>Bio: </strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{user.description}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-mouse-pointer"></i><strong>Most Viewed Article:</strong><span class = "top_article_title">{{top_article.title}}</span>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong> Preview: </strong>
                <div>{{top_article.content| truncate(50)}}</div>
                <div><a href="{{url_for('expanded_post', postID = top_article.id)}}">Read More</a></div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fas fa-hiking"></i></i><strong>Hobbies</strong>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>{{user.hobbies}}</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Followers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              {% for followers in user.followers %}
              <div class= "modal-body">
                <div class = "d-flex align-">
                  <div class = "followers_image">
                    {% if followers.profimage == None%}
                    <a href="{{url_for('public_user_dashboard', poster = followers.username)}}">
                      <img class = "followers_thumbnail"  src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
                    </a>
                    {% else %}
                    <a href="{{url_for('public_user_dashboard', poster = followers.username)}}">
                      <img class = "followers_thumbnail" src="{{url_for ('static', filename ='/images/' + followers.profimage) }}" alt="Image" />
                    </a>
                    {% endif %}
                  </div>
                  <div class = "followers_information_wrap">
                    <div class = "followers_name">
                      <a class = "followers_name_link" href="{{url_for('public_user_dashboard', poster = followers.username)}}">
                        {{followers.username}}
                      </a>
                    </div>
                    <div>
                      {% if followers.description == None %}
                      <span class = "followers_description">No current description.</span> 
                      {% else %}
                      <span class = "followers_description">{{followers.description | truncate(40)}}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Following</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Following</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              {% for following in user.following%}
              <div class= "modal-body">
                <div class = "d-flex">
                  <div class = "followers_image">
                    {% if following.profimage == None%}
                      <a href="{{url_for('public_user_dashboard', poster = following.username)}}">
                        <img class = "followers_thumbnail"  src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
                      </a>
                    {% else %}
                    <a href="{{url_for('public_user_dashboard', poster = following.username)}}">
                      <img class = "following_thumbnail" src="{{url_for ('static', filename ='/images/' + following.profimage) }}" alt="Image" />
                    </a>    
                    {% endif %}
                  </div>
                  <div class = "following_information_wrap">
                    <div class = "following_name">
                      <a class = "following_name_link" href="{{url_for('public_user_dashboard', poster = following.username)}}">
                        {{following.username}}
                      </a>
                    </div>
                    <div>
                      {% if following.description == None %}
                      <span class = "followers_description">No current description.</span> 
                      {% else %}
                      <span class = "followers_description">{{following.description | truncate(40)}}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Followers</button>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{%block js%}
<script>
var button = document.getElementById('following')
var check = document.getElementById('check')
 
 function getUserID(ID){
  return followUnfollow(ID)
 }

//  button.addEventListener('click', ()=>{
//   followUnfollow(getUserID)
// });

function followUnfollow(ID){
 if(button.classList.contains('follow')){
    button.classList.remove('btn', 'btn-dark', 'btn-sm','follow')
    button.classList.add('btn', 'btn-secondary', 'btn-sm','following')
    button.innerText = "Following"
    button.appendChild(check)
    check.classList.add('fas','fa-check-circle')
    follow(ID)
   }
  else if(button.classList.contains('following')){
    button.classList.remove('btn', 'btn-secondary', 'btn-sm','following')
    button.classList.add('btn', 'btn-dark', 'btn-sm','follow')
    button.innerText = "Follow"
    check.classList.remove('fas', 'fa-check-circle')
    unfollow(ID)
  }
};
function unfollow(ID) {  //sends to python route for dislikes without updating
    const url = `/unfollow/${ID}`;
  fetch(url, {
    method: 'POST',
  }).then((response) => {
    var unfollow =response.json
    var following = document.getElementById('following')
 });
}
function follow(ID) {  //sends to python route for dislikes without updating
    const url = `/follow/${ID}`;
  fetch(url, {
    method: 'POST',
  }).then((response) => {
 });
}
</script>
{%endblock%}