{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = './css/public_dashboard.css') }}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-color">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">What's New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('post') }}">Post</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="btn btn-outline-light" href = "{{ url_for('logout') }}">Logout</a>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    {% if category == "edit"%}
    <div class="alert alert-info alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "false_user"%}
    <div class="alert alert-danger alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "no_post"%}
    <div class="alert alert-danger alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if category == "success"%}
    <div class="alert alert-success alert-dismissible fade show container">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    </ul>
  {% endfor %}
  {% endif %}
{% endwith %}

<div class = "container welcome-intro">
  {% if user.profimage == None%}
    <div class="container thumbnail">
      <img src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
    </div>
  {% else %}
    <div class="container thumbnail">
      <img src="{{url_for ('static', filename ='/images/' + user.profimage) }}" alt="Image" />
    </div>
  {% endif %}
      <h1 class = "welcome_text">{{ user.username }}<span class = "s_dash">'s</span> Profile</h1>
  </div>

<div class = "container">
    <div class="box">
        <!-- <p class="h-dash">Dashboard</p> -->
        {% if description != None %}
        <p class="fst-italic textmuted mt-3 mb-3 public_description">This user does not have a description at the moment.</p>
        {% else %}
        <p class="fst-italic textmuted mt-3 mb-3 public_description">{{user.description}}</p>
        {% endif %}
        <div class="row mx-0 mt-2">
            <div class="col-md-4 p-0 border-end">
                <div class="viewbox">
                    <p class="blue">{{user.profile_views}}</p>
                    <p><i class="fas fa-user-circle"></i>Profile views</p>
                </div>
            </div>
            <div class="col-md-4 p-0 border-end">
                <div class="viewbox">
                    <p class="blue">{{user_followers}}</p>
                    <p><i class="fas fa-users"></i><a class="" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Followers</a></p>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="viewbox">
                    <p class="blue">{{user.total_post}}</p>
                    <p><i class="fas fa-icons"></i><a href="{{url_for('all_post', username = user.username)}}">Total Posts</a></p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Followers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              {% for followers in user.followers %}
              <div class= "modal-body">
                <div class = "d-flex align-">
                  <div class = "followers_image">
                    {% if followers.profimage == None%}
                    <a href="{{url_for('public_user_dashboard', poster = followers.username)}}">
                      <img class = "followers_thumbnail"  src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
                    </a>
                    {% else %}
                    <a href="{{url_for('public_user_dashboard', poster = followers.username)}}">
                      <img class = "followers_thumbnail" src="{{url_for ('static', filename ='/images/' + followers.profimage) }}" alt="Image" />
                    </a>
                    {% endif %}
                  </div>
                  <div class = "followers_information_wrap">
                    <div class = "followers_name">
                      <a class = "followers_name_link" href="{{url_for('public_user_dashboard', poster = followers.username)}}">
                        {{followers.username}}
                      </a>
                    </div>
                    <div>
                      {% if followers.description == None %}
                      <span class = "followers_description">No current description.</span> 
                      {% else %}
                      <span class = "followers_description">{{followers.description | truncate(40)}}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Following</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Following</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              {% for following in user.following%}
              <div class= "modal-body">
                <div class = "d-flex">
                  <div class = "followers_image">
                    {% if following.profimage == None%}
                      <a href="{{url_for('public_user_dashboard', poster = following.username)}}">
                        <img class = "followers_thumbnail"  src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
                      </a>
                    {% else %}
                    <a href="{{url_for('public_user_dashboard', poster = following.username)}}">
                      <img class = "following_thumbnail" src="{{url_for ('static', filename ='/images/' + following.profimage) }}" alt="Image" />
                    </a>    
                    {% endif %}
                  </div>
                  <div class = "following_information_wrap">
                    <div class = "following_name">
                      <a class = "following_name_link" href="{{url_for('public_user_dashboard', poster = following.username)}}">
                        {{following.username}}
                      </a>
                    </div>
                    <div>
                      {% if following.description == None %}
                      <span class = "followers_description">No current description.</span> 
                      {% else %}
                      <span class = "followers_description">{{following.description | truncate(40)}}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Followers</button>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}