{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = './css/public_dashboard.css') }}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-color">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">What's New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('post') }}">Post</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="btn btn-outline-light" href = "{{ url_for('logout') }}">Logout</a>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}

{% block body %}

<div class = "container welcome-intro">
  {% if user.profimage == None%}
    <div class="container thumbnail">
      <img src="{{url_for ('static', filename ='/images/default.jpg') }}" alt="Image" />
    </div>
  {% else %}
    <div class="container thumbnail">
      <img src="{{url_for ('static', filename ='/images/' + user.profimage) }}" alt="Image" />
    </div>
  {% endif %}
      <h1 class = "welcome_text">{{ user.username }}<span class = "s_dash">'s</span> Profile</h1>
  </div>

<div class = "container">
    <div class="box">
        <!-- <p class="h-dash">Dashboard</p> -->
        {% if description != None %}
        <p class="fst-italic textmuted mt-3 mb-3 public_description">This user does not have a description at the moment.</p>
        {% else %}
        <p class="fst-italic textmuted mt-3 mb-3 public_description">{{user.description}}</p>
        {% endif %}
        <div class="row mx-0 mt-2">
            <div class="col-md-4 p-0 border-end">
                <div class="viewbox">
                    <p class="blue">{{user.profile_views}}</p>
                    <p><i class="fas fa-user-circle"></i>Profile views</p>
                </div>
            </div>
            <div class="col-md-4 p-0 border-end">
                <div class="viewbox">
                    <p class="blue">{{user_followers}}</p>
                    <p><i class="fas fa-users"></i>Followers</p>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="viewbox">
                    <p class="blue">{{user.total_post}}</p>
                    <p><i class="fas fa-icons"></i><a href="{{url_for('all_post', username = user.username)}}">Total Posts</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}