{% extends 'base.html'%}

{% block body %}
<body>
    <h1 id = "title">okay</h1>
    <div id="counter">0</div>
</body>

{% endblock %}

{% block js %}
<script>
    var eventSource = new EventSource("/listen")
    
    eventSource.addEventListener("message", function(e) {
    }, true)

    eventSource.addEventListener("online", function(e) {
      console.log(e.data.color)
      data = JSON.parse(e.data)
      console.log(data.color)
      document.querySelector("#counter").innerText = data.comment
      document.querySelector("body").style.background= data.color
    }, true)

</script>
{% endblock %}