{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = './css/test.css') }}">
{% endblock %}

{% block body %}
<form action="" method="POST" enctype='multipart/form-data' >
  {{ form.file(class_="form-control")}}
  <input type="submit" value = "submit">
</form>

<div class = "asd">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt sequi perspiciatis nulla numquam porro corrupti beatae voluptates tenetur minus hic voluptas facere, suscipit cum iusto quasi. Exercitationem similique magnam asperiores vitae, saepe aperiam ut in ea. Sint beatae sunt eaque sequi error voluptate delectus molestiae, saepe architecto, alias quaerat aliquam. Qui quidem quia consequatur repudiandae dolorum pariatur quisquam ut provident inventore, nobis reiciendis iusto nulla aspernatur fugit praesentium voluptate necessitatibus voluptatibus quod modi odio hic vel? At inventore molestias corrupti dolorum nemo velit, error ut facilis incidunt eligendi fugiat harum veritatis minima iure temporibus amet dolores blanditiis repudiandae omnis cumque?</div>
{% endblock %}