{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = './css/upload.css') }}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-color">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">What's New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('post') }}">Post</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="btn btn-outline-info prof-button" href = "{{ url_for('dashboard') }}">Profile</a>
          <a class="btn btn-outline-light" href = "{{ url_for('logout') }}">Logout</a>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-md-4 offset-md-4">
          <div class="login-form bg-light mt-4 p-4">
              <form action="" method="POST" class="row g-3" enctype='multipart/form-data'>
                  <h4>Add/edit a profile picture and description</h4>
                  {{profile.description(cols="30", rows="15", placeholder = "Write a small description about yourself")}}
                  {{profile.file}}
                  <div class="col-12">
                      <input type="submit" name = "post_submit" class="btn btn-dark float-end"></input>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}

Lorem ipsum dolor sit, amet consectetur adipisicing elit. At consequatur illo vitae magni nesciunt exercitationem explicabo fugiat quae doloribus dicta modi error perspiciatis, ratione repudiandae, aliquam inventore ad! Id totam magnam obcaecati debitis dolores ut porro, fuga cupiditate magni sunt ipsa necessitatibus. Necessitatibus unde fugiat, ipsum explicabo sint, ab magnam nemo labore voluptates eius perspiciatis id ut est numquam facere et culpa quasi qui earum debitis officiis animi cupiditate. Dolor eligendi ullam ea blanditiis deleniti modi, consequuntur veritatis libero? Sapiente officiis excepturi, sunt minima, nostrum quos eos consequuntur totam ipsa adipisci minus neque voluptate modi natus, ad quia et inventore.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. At consequatur illo vitae magni nesciunt exercitationem explicabo fugiat quae doloribus dicta modi error perspiciatis, ratione repudiandae, aliquam inventore ad! Id totam magnam obcaecati debitis dolores ut porro, fuga cupiditate magni sunt ipsa necessitatibus. Necessitatibus unde fugiat, ipsum explicabo sint, ab magnam nemo labore voluptates eius perspiciatis id ut est numquam facere et culpa quasi qui earum debitis officiis animi cupiditate. Dolor eligendi ullam ea blanditiis deleniti modi, consequuntur veritatis libero? Sapiente officiis excepturi, sunt minima, nostrum quos eos consequuntur totam ipsa adipisci minus neque voluptate modi natus, ad quia et inventore.